/* [project]/src/components/card/status_card/status_cards_1-pagePart/status_cards_1-pagePart.module.scss.module.css [app-client] (css) */
.status_cards_1-pagePart-module-scss-module__dh1TRG__status_cards_1_pagePart {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  color: var(--pure-white, white);
  background: #3dffbb;
  background: linear-gradient(#3dffbb40 0%, #1d1d1d80 100%);
  background: linear-gradient(#3dffbb40 0%, #1d1d1d80 100%);
  background: linear-gradient(#3dffbb40 0%, #1d1d1d80 100%);
  filter: progid:DXImageTransform. Microsoft. gradient(startColorstr= "#3dffbb", endColorstr= "#1d1d1d", GradientType= 1);
}

.status_cards_1-pagePart-module-scss-module__dh1TRG__status_cards_1_pagePart .status_cards_1-pagePart-module-scss-module__dh1TRG__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.status_cards_1-pagePart-module-scss-module__dh1TRG__status_cards_1_pagePart .status_cards_1-pagePart-module-scss-module__dh1TRG__card .status_cards_1-pagePart-module-scss-module__dh1TRG__image_content {
  width: 8rem;
  height: 8rem;
}

.status_cards_1-pagePart-module-scss-module__dh1TRG__status_cards_1_pagePart .status_cards_1-pagePart-module-scss-module__dh1TRG__card .status_cards_1-pagePart-module-scss-module__dh1TRG__description {
  text-align: center;
  min-height: 4em;
}

.status_cards_1-pagePart-module-scss-module__dh1TRG__status_cards_1_pagePart .status_cards_1-pagePart-module-scss-module__dh1TRG__card .status_cards_1-pagePart-module-scss-module__dh1TRG__button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 99999px;
  font-size: 1em;
  padding: 6px 18px;
  background-color: var(--primary-color, teal);
  color: var(--pure-white, white);
}

.status_cards_1-pagePart-module-scss-module__dh1TRG__status_cards_1_pagePart .status_cards_1-pagePart-module-scss-module__dh1TRG__card .status_cards_1-pagePart-module-scss-module__dh1TRG__button .status_cards_1-pagePart-module-scss-module__dh1TRG__text {
  text-align: center;
}

.status_cards_1-pagePart-module-scss-module__dh1TRG__status_cards_1_pagePart .status_cards_1-pagePart-module-scss-module__dh1TRG__card .status_cards_1-pagePart-module-scss-module__dh1TRG__button .status_cards_1-pagePart-module-scss-module__dh1TRG__icon {
  min-width: 1.5em;
  width: 1.5em;
}

.status_cards_1-pagePart-module-scss-module__dh1TRG__status_cards_1_pagePart .status_cards_1-pagePart-module-scss-module__dh1TRG__indicators {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.status_cards_1-pagePart-module-scss-module__dh1TRG__status_cards_1_pagePart .status_cards_1-pagePart-module-scss-module__dh1TRG__indicators .status_cards_1-pagePart-module-scss-module__dh1TRG__indicator {
  width: 40px;
  height: 4px;
  background-color: var(--pure-white, gray);
  opacity: .5;
}

.status_cards_1-pagePart-module-scss-module__dh1TRG__status_cards_1_pagePart .status_cards_1-pagePart-module-scss-module__dh1TRG__indicators .status_cards_1-pagePart-module-scss-module__dh1TRG__indicator.status_cards_1-pagePart-module-scss-module__dh1TRG__active {
  background-color: var(--pure-white, white);
  opacity: 1;
}

/*# sourceMappingURL=0ad56_status_cards_1-pagePart_status_cards_1-pagePart_module_scss_module_b52d8e88.css.map*/